
@media (min-width: 1920px) {
    .content.has-bg .content-bg img {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .content.has-bg .content-bg img {
        max-height: 100%;
        max-width: inherit;
    }
    .content .content-desc {
        margin-bottom: 30px;
    }
}
@media (max-width: 992px) {
    .content.has-bg  {
       overflow: auto;

    }

    .header {
        background-color: rgba(0,0,0,.80)!important;
    }

    .content.has-bg .container {
       position: relative;
    }

    .content.has-bg .content-bg  {
        height: inherit;
        height: 800px;
    }

    .content.has-bg .content-bg img {
         height: 800px;
    }
    .content .content-desc {
        margin-bottom: 30px;
    }

    .header.navbar .navbar-nav > li > a {
        padding: 25px 10px;
    }
    .header.navbar.navbar-small .navbar-nav > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .home-content {
        top:42%;
    }

    .home-content h1 {
        font-size: 28px !important;
        line-height: 3rem!important;
        text-align: center;
    }
    .home-content h2 {
        font-size: 18px !important;
        text-align: center;
        width: 100%;
    }
    .home-content h3 {
        font-size: 16px;
    }
    .home-content h1, .home-content h2, .home-content h3, .home-content h4 {
        margin: 0 0 15px;
    }
    .home-content p {
        margin-bottom: 10px;
        font-size: 14px !important;
    }
}
